<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Sobre Mi :</div>
              <div>
                <ul>
                  <li *ngFor="let m of about2 | split">{{m}}</li>
                </ul>
              </div>
                <p>{{about1}}</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Informacion Basica </div>
             <!--  
             <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">Setiembre 30, 1993</div>
              </div>
              -->

              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">rwongsol@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Telefono:</strong>
                </div>
                <div class="col-sm-8">+51 970126591</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Direccion:</strong>
                </div>
                <div class="col-sm-8">Perú - Lima.
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Lenguage:</strong>
                </div>
                <div class="col-sm-8">Spanish</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>